/** ADD TWITTER BOOTSTRAP COMPONENTS **/
@import url('bootstrap-buttons.min.css');
@import url('bootstrap-forms.min.css');

/** STANDARD H5B RESET **/ 
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }


::-moz-selection { background: #ed4700; color: #fff; text-shadow: none; }
::selection { background: #ed4700; color: #fff; text-shadow: none; }


a { text-decoration: none; }
a:hover { text-decoration: underline; }

a:hover, a:active { outline: 0; }


abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }


figure { margin: 0; }

label { cursor: pointer; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/** CSS ANIMATIONS **/

@-webkit-keyframes showMeTheFunconf {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-moz-keyframes showMeTheFunconf {
	from { opacity: 0; }
	to { opacity: 1; }
}

.cssanimations .annimateFunconf {
	-webkit-animation-name: showMeTheFunconf;
	-webkit-animation-delay: 1s;
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	
	-moz-animation-name: showMeTheFunconf;
	-moz-animation-delay: 1s;
	-moz-animation-duration: 1s;
	-moz-animation-fill-mode: forwards;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: linear;
}

.cssanimations .annimateFunconf1 {
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
}

.cssanimations .annimateFunconf2 {
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
}

.cssanimations .annimateFunconf3 {
	-webkit-animation-delay: 4s;
	-moz-animation-delay: 4s;
}

.cssanimations .annimateFunconf4 {
	-webkit-animation-delay: 5s;
	-moz-animation-delay: 5s;
}

.cssanimations .annimateFunconf5 {
	-webkit-animation-delay: 6s;
	-moz-animation-delay: 6s;
}

.cssanimations .annimateFunconf6 {
	-webkit-animation-delay: 7s;
	-moz-animation-delay: 7s;
}

.cssanimations .annimateFunconf7 {
	-webkit-animation-delay: 8s;
	-moz-animation-delay: 8s;
}



/*****************************************/
/************** USER STYLES **************/
/*****************************************/

body {
  background: #e65200 url(../im/bg.png) repeat scroll top center;
  font-family: helvetica, "helvetica neue", courier;
  font-weight: bold;
  min-width: 541px;
  text-align: center;
  text-transform: uppercase;
}

div[role="main"] {
  margin-top: 10%;
}

div[role="main"] h1 {
  height: 255px;
  margin: 0 auto 20px;
  position: relative;
  width: 542px;
}
.cssanimations div[role="main"] h1 {
  background: transparent url(../im/ticket.png) repeat scroll 0 0;
}

.no-cssanimations div[role="main"] h1 {
  background: transparent url(../im/funconf.png) repeat scroll 0 0;
}

.cssanimations div[role="main"] h1 img {
  opacity: 0;
  left: 0;
  position: absolute;
}

.no-cssanimations div[role="main"] h1 img {
  display: none;
}

div[role="main"] > p, div[role="main"] > p a {
  color: #732b0b;
  font-size: 16px;
  text-shadow: rgba(240,214,185,0.45) 0 1px 0;
}

div[role="main"] form legend {
  border: none;
  color: #fff;
  font-size: 18px;
  margin: 0;
  text-shadow: rgba(59,32,15,.45) 0 2px 2px;
}

div[role="main"] form.form-horizontal .controls, div[role="main"] form button {
  margin: 0;
}

div[role="main"] form div.input-append {
  border: 3px solid #d16433;
  border-radius: 3px;
  /*box-shadow: 0px 3px 3px rgba(255,255,255,0.5);*/
  box-shadow: 0px 1px 0px rgba(255,255,255,0.4); /*change by PD*/
  height: 40px;
  position: relative;
  width: 400px;
}
div[role="main"] form div.input-append .btn {
  margin-left: -2px;
  position: absolute;
  right: 0;
}

div[role="main"] form input {
  background: #fff url(../im/bg-input.gif) repeat-x scroll top left;
  border: none;
  left: 0;
  letter-spacing: 1px;
  padding: 11px 10px;
  position: absolute;
  width: 260px;
}

div[role="main"] form input:focus {
  border: none;
  box-shadow: none;
  left: 0;
  position: absolute;
  z-index: 0;
}

div[role="main"] form button {
  background: #5787b6 url(../im/button-sprite.gif) repeat-x scroll 0 -40px;
  border: none;
  color: #134577;
  font-size: 19px ;
  font-weight: bold;
  overflow: hidden;
  padding: 11px 30px;
  text-indent: -9999px;
  text-transform: uppercase;
  -moz-transition: none;
  -webkit-transition: none;
  width: 130px;
}

div[role="main"] form button:hover {
  background: #5787b6 url(../im/button-sprite.gif) repeat-x scroll 0 0;
  -moz-transition: none;
  -webkit-transition: none;
}



@media only screen and (min-width: 35em) {
}



.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

.hidden { display: none !important; visibility: hidden; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.invisible { visibility: hidden; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

